
.form-container {
  display: flex;
  align-items: center;
    margin-bottom: 15px;
    width: 35%; 
    float: right; 
    padding: 20px;
  }

  .supplier-field {
    display: flex;
    align-items: center;
    position: relative;
  }

  .smaller-input {
    width: calc(100% - 40px);
  }
  
  .plus-icon {
    margin-left: 10px;
  }
  
  .transaction-form label {
    display: inline-block;
    width: 30%;
    margin-bottom: 5px;
    text-align: left;
    
  }
  
  .transaction-form input,
  .transaction-form select {
    width: 65%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;  
    display: inline-block;
    background-color: #f3f3f3;
  }
  
  .transaction-form .save-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: var(--button-grade, linear-gradient(90deg, #8639BA 0.07%, #AE45C6 21.91%, #E958A1 46.35%, #EF7075 74.95%, #F2B45C 99.39%));
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }

  .custom-file-upload {
    margin-left: 400px;
    color: #AE45C6; 
    text-align: right; 
    font-family: 'Inter', sans-serif; 
    font-size: 12px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline; 
    cursor: pointer; 
}

/* Hide default file input button */
#photo-upload {
    display: none;
}


  








  