@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#F8F8F8 ; 
  }

  fieldset {
    border: none !important;
    outline: none !important;
  }


  /* scroll bar css */
  ::-webkit-scrollbar {
    width: 8px; 
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: gray-200; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }



/* date range picker css */
  .ant-picker-panel {
    &:last-child {
      width: 0;
      .ant-picker-header {
        position: absolute;
        right: 0;
        .ant-picker-header-prev-btn, .ant-picker-header-view {
          visibility: hidden;
        }
      }

      .ant-picker-body {
        display: none;
      }

      @media (min-width: 768px) {
        width: 280px!important;
        .ant-picker-header {
          position: relative;
          .ant-picker-header-prev-btn, .ant-picker-header-view {
            visibility: initial;
          }
        }

        .ant-picker-body {
          display: block;
        }
      }
    }
  }




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
